p {
  margin-top: 0;
  margin-bottom: 0;
}
.model {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.order {
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
}